.DS_Store
target/
.gradle
*.class
test-complete/build/
.metadata

# Package Files #
*.jar
*.war
*.ear

# allow gradle-wrapper into repo
!/gradle/wrapper/gradle-wrapper.jar

# exclude .gradle working directory and build
.gradle
build
buildSrc/build

.classpath
.gitignore
.classpath
.project
.settings/
.idea

*/gradle/wrapper/gradle-wrapper.properties
out
uriCache.txt
gradle-local.properties
bin
repairXMLFull.xml
xml-with-props.xml

ml-development-tools/src/test/ml-modules
ml-development-tools/src/test/java/com/marklogic/client/test/dbfunction/generated

.vscode
docker-compose.yaml
docker/
