<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="com.marklogic.client.functionaltest.ConnectedRESTQA" >
<Appenders>
    
	<File name="MyTestLogFile" fileName="./testLog/TestLogging.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
  
</Appenders>
<Loggers>
    <Root level="trace">
      <AppenderRef ref="MyTestLogFile"/>
    </Root>
  </Loggers>
</Configuration>